.room {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../assets/studiofalls.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.video-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.slide-video {
    width: 60%;      
    height: auto;
    border-radius: 12px;
    margin-bottom: 20px;
}

/* first slide overlay */
.bg-first-slide {
    width: 60%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* button on first slide */

.nav-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.nav {
    font-size: 18px;
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.3s;
}

.nav:hover {
    background: linear-gradient(50deg, #100060, #eb5403);
    cursor: cell;
}

/* Tablet */
@media (max-width: 1024px) {
    .slide-video, .bg-first-slide {
        width: 70%;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .slide-video, .bg-first-slide {
        width: 90%;
    }

    .nav {
        font-size: 16px;
        padding: 8px 15px;
    }

    .next-slide-btn {
        font-size: 16px;
        padding: 8px 20px;
    }

    .room {
        min-height: auto;
        padding: 20px 0;
        align-items: flex-start;
    }
}